In [1]:
# 미국 태생 아이들 이름 분석(120년)

In [13]:
import pandas as pd

In [14]:
# txt 파일로 되어 있는 파일들 하나의 dataframe으로 만들기
df_list = []
for y in range(1880, 2011):
    df = pd.read_csv(f"babynames/yob{y}.txt", names=['이름','성별','출생아수'])
    df['연도'] = y
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)
df

                이름 성별  출생아수    연도
0             Mary  F  7065  1880
1             Anna  F  2604  1880
2             Emma  F  2003  1880
3        Elizabeth  F  1939  1880
4           Minnie  F  1746  1880
...            ... ..   ...   ...
1690779    Zymaire  M     5  2010
1690780     Zyonne  M     5  2010
1690781  Zyquarius  M     5  2010
1690782      Zyran  M     5  2010
1690783      Zzyzx  M     5  2010

[1690784 rows x 4 columns]

In [15]:
# 총 춯생아수, 남, 여 출생아수 차이 비교

# 총 출생아수
df['출생아수'].sum()

# 여 출생아수
df_female = df[df['성별']=='F']
df_female.loc[:, '출생아수'].sum()

# 남 출생아수
df_male = df[df['성별']=='M']
df_male.loc[:, '출생아수'].sum()

df.groupby(df.성별)['출생아수'].sum()

성별
F    159990140
M    162412587
Name: 출생아수, dtype: int64

In [16]:
# 각 연도와 성별에 따른 출생아 수의 합계 구하기
grouped = df.groupby([df.연도, df.성별])['출생아수'].sum().reset_index()
grouped

# 각 연도에서 가장 많은 출생아 수를 가진 성별 찾기
idx = grouped.groupby(grouped.연도)['출생아수'].idxmax()
most_births = grouped.loc[idx]
most_births['성별'].value_counts()

성별
M    77
F    54
Name: count, dtype: int64

In [ ]:
# 21세기와 21세기 이전으로구분해 출생아의 이름 변화 비교 

# 21세기 남아
male21 = df_male[df_male['연도']>=2000].groupby(['연도', '이름']).sum().sort_values(by='출생아수', ascending=False)
male21 = male21.groupby('이름').sum()
ma21 = male21.sort_values(by='출생아수', ascending=False).head(50)
ma21
# 21세기 남아 이름의 종류
len(male21)
# 중복된 이름이 100개 이하인 남아 이름
male21[male21['출생아수']<100]

# 21세기 이전 남아
male20 = df_male[df_male['연도']<2000].groupby(['연도', '이름']).sum().sort_values(by='출생아수', ascending=False)
male20 = male20.groupby('이름').sum()
ma20 = male20.sort_values(by='출생아수', ascending=False).head(50)
ma20
# 21세기 이전 남아 이름의 종류
len(male20)
# 중복된 이름이 100개 이하인 남아 이름
male20[male20['출생아수']<100]

In [ ]:
# 21세기 여아
female21 = df_female[df_female['연도']>=2000].groupby(['연도', '이름']).sum().sort_values(by='출생아수', ascending=False)
female21 = female21.groupby('이름').sum()
fe21 = female21.sort_values(by='출생아수', ascending=False).head(50)
fe21
# 21세기 여아 이름의 종류
len(female21)
# 중복된 이름이 100개 이하인 여아 이름
female21[female21['출생아수']<100]

# 21세기 이전 여아
female20 = df_female[df_female['연도']<2000].groupby(['연도', '이름']).sum().sort_values(by='출생아수', ascending=False)
female20 = female20.groupby('이름').sum()
fe20 = female20.sort_values(by='출생아수', ascending=False).head(50)
fe20
# 21세기 이전 여아 이름의 종류
len(female20)
# 중복된 이름이 100개 이하인 여아 이름
female20[female20['출생아수']<100]

In [ ]:
# 남/여아 자주사용된 이름 50개의 과거/현재의 이름의 유행도 비교

# ma : 남/ fe : 여
ma21.merge(ma20, on=['이름'], suffixes=('_21세기', '_20세기'))
fe21.merge(fe20, on=['이름'], suffixes=('_21세기', '_20세기'))

res = ma21.merge(ma20, on=['이름'], how='outer', suffixes=('_21세기', '_20세기'))
res.sort_values(by=['출생아수_21세기', '출생아수_20세기'], ascending=False, na_position='last')
res.sort_values(by=['출생아수_20세기', '출생아수_21세기'], ascending=False, na_position='last')

res = fe21.merge(fe20, on=['이름'], how='outer', suffixes=('_21세기', '_20세기'))
res.sort_values(by=['출생아수_21세기', '출생아수_20세기'], ascending=False, na_position='last')
res.sort_values(by=['출생아수_20세기', '출생아수_21세기'], ascending=False, na_position='last')

In [ ]:
# 미완성 남/여아 이름을 n분위로 나누어서 이름의 유행, 중복도 확인
pd.cut(female20['출생아수'], bins=[4, 100, 1000, 10000, 50000, np.inf], labels=[1,2,3,4,5])
female20['출생아수_구간'] = pd.cut(fe21['출생아수'], bins=[4, 100, 1000, 10000, 50000, np.inf], labels=[1,2,3,4,5])
female20['출생아수_구간'].value_counts()